<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- aqui o routerLink="/" faz voltar para o menu inicial-->
    <div class="container">
        <a routerLink="/" class="navbar-brand">Cadastro de Usuários</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContend">
            <span class="navbar-toggle-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContend">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- aqui o routerLink="/" faz voltar para o menu inicial-->
                    <a routerLink="/" class="nav-link">Usuário</a>

                </li>
            </ul>

        </div>
    </div>

</nav> 
